<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700" rel="stylesheet">
    <title>Hello, world!</title>
  </head>
<style>

    nav{
        font-family: 'Open Sans Condensed', sans-serif;
        border-style: solid;
        border-top-width: 5px;
        border-right-width: 0;
        border-bottom-width: 0;
        border-left-width: 0;
        border-color: #ebd337;
    }
    #banner{
        background-image:url(./img/main.jpg);
        background-position: center center;
        background-size:cover;
    }
    .upper{
        font-family: 'Lato', sans-serif;
    }
</style>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Shotokan Karate Ottawa</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">who we are</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Instructors</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Beginners Training</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="container-fluid p-0 position-relative" id="banner">
        <div style="background-color:#474747;opacity: 0.5;height:100vh;"></div>
        <div class="container-fluid text-white text-center position-absolute" style="top:0;">
            <div class="row align-items-center" style="height:100vh;">
                <div class="col-lg-6  mx-auto">
                    <h1>Authentic, Traditional Karate<br>
                        for the Mind, Body & Spirit</h1>
                </div>
            </div>
        </div>   
    </div>
    <div class="container-fluid text-center py-5 px-5 upper">
        <div class="row align-items-center px-3">
            <div class="col-8 mx-auto">
                <h3 class="py-3 font-weight-bold">Get Inspired</h3>
                <p class="pt-2 font-italic" style="font-size: 18px;">“Originally this was the most important thing about martial arts–to reach a higher level, to become a strong human being. Strong doesn’t mean big muscles. It means who can be a more strict human being with himself. That is the ideal of martial arts.”</p>
                <p>– Tsutomu Ohshima</p>
            </div>
        </div>
    </div>
    <div class="container widgets mb-5 ">
       <div class="row">
           <div class="col-lg-4 col-md-6 p-1">
               <img src="./img/banner.jpg" class="w-100" height="315">
           </div>
           <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget2.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget3.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget4.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget8.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget6.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget7.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget5.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget1.jpg" class="w-100" height="315">
            </div>
       </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>