{% extends "base.html" %}
{% block content %}
    <div class="container-fluid px-0 mt-5 pt-2 position-relative" id="banner">
        <div style="background-color:#474747;opacity: 0.5;height:100vh;"></div>
        <div class="container-fluid text-white text-center position-absolute" style="top:0;">
            <div class="row align-items-center" style="height:100vh;">
                <div class="col-lg-6  mx-auto">
                    <h1>Authentic, Traditional Karate<br>
                        for the Mind, Body & Spirit</h1>
                </div>
            </div>
        </div>   
    </div>
    <div class="container-fluid text-center py-5 px-5 upper">
        <div class="row align-items-center px-3">
            <div class="col-8 mx-auto">
                <h3 class="py-3 font-weight-bold">Get Inspired</h3>
                <p class="pt-2 font-italic" style="font-size: 18px;">“Originally this was the most important thing about martial arts–to reach a higher level, to become a strong human being. Strong doesn’t mean big muscles. It means who can be a more strict human being with himself. That is the ideal of martial arts.”</p>
                <p>– Tsutomu Ohshima</p>
            </div>
        </div>
    </div>
    <div class="container widgets mb-5 ">
       <div class="row">
           <div class="col-lg-4 col-md-6 p-1">
               <img src="./img/banner.jpg" class="w-100" height="315">
           </div>
           <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget2.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget3.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget4.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget8.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget6.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget7.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget5.jpg" class="w-100" height="315">
            </div>
            <div class="col-lg-4 col-md-6 p-1">
                <img src="./img/widget1.jpg" class="w-100" height="315">
            </div>
       </div>
    </div>

    <div class="container-fluid under p-4">
        <div class="row text-center align-items-center p-3">
            <div class="col-10 mx-auto">
                <i class="fab fa-telegram-plane display-4"></i>
                <h2 class="p-4"><b>Learning is never too late</b></h2>
                <p class="pb-1"><b> It is never too late in the semester to register and start practicing, because we train 12 months of the year.</b></p>
                <a href="/karateUottawa/instructors">
                <button type="button" class="btn btn-white py-2 my-3" style="border-radius:0;"><i class="fas fa-angle-right pr-3" style="color:grey;"></i>JION US</button>
                </a> 
            </div>
        </div>
    </div>
{% endblock %}
