{% extends "base.html" %}
{% block content %}
<div class="container-fluid mt-5 pt-2">
    <div class="row">
        <div class="col-12 p-0">
            <!-- <iframe src="./img/iframe.mp4" width="100%" style="height:100vh;" frameborder="0"></iframe> -->
            <!-- <iframe width="100%" src="https://www.youtube.com/embed/65QCHZDXKmA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
            <!-- <iframe width="100%" style="height:100vh" src="https://www.youtube.com/embed/6NUs8Lmn1sA" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe> -->
            <iframe width="100%" style="height:100vh" src="https://www.youtube.com/embed/m_s-ZWXTwSE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
        </div>
    </div>  
</div>
<div class="container-fluid">
    <div class="row my-5">
        <div class="col text-center upper mt-3">
            <h3><b>The best Instructors you can get in Ottawa</b></h3>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-10 mx-auto">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                        <div class="card testimonial-card">

                                <!-- Bacground color -->
                                <div class="card-up indigo lighten-1">
                                </div>
                            
                                <!-- Avatar -->
                                <div class="avatar mx-auto white">
                                    <img src="./img/RD.jpg" width="150" height="150" class="rounded-circle mt-5">
                                </div>
                            
                                <div class="card-body">
                                    <!-- Name -->
                                    <h4 class="card-title">Roland Duval, Dojo Leader</h4>
                                    <hr>
                                    <!-- Quotation -->
                                    <p><i class="fa fa-quote-left"></i> 
                                        In 1992 Roland passed his yodan test to become a 4th dan black belt, 
                                        and in 2006 Mr. Ohshima promoted him to the godan, 5th dan, black belt level. 
                                        Roland has been travelling to practice with Mr. Ohshima in California, BC, and Japan since 1981,
                                        and often brings senior teachers to lead seminars in Ottawa.</p>
                                </div>
                            
                        </div> 
                </div>
                <div class="col-lg-3 col-md-6 ">
                        <div class="card testimonial-card">

                                <!-- Bacground color -->
                                <div class="card-up indigo lighten-1">
                                </div>
                            
                                <!-- Avatar -->
                                <div class="avatar mx-auto white">
                                    <img src="./img/RC.jpg" width="150" height="150" class="rounded-circle mt-5">
                                </div>
                            
                                <div class="card-body">
                                    <!-- Name -->
                                    <h4 class="card-title">Richard Copping, Instructor</h4>
                                    <hr>
                                    <!-- Quotation -->
                                    <p><i class="fa fa-quote-left"></i> Richard is currently a sandan (3rd degree black belt) in a five dan system, and is now training for the yodan rank. Richard also arrange seminars taught by senior members from affiliated dojos. 
                                        He encourages all levels to take part in short out of town visits with affiliated clubs to broaden their experience.</p>
                                </div>
                            
                        </div> 
                </div>
                <div class="col-lg-3 col-md-6">
                        <div class="card testimonial-card">

                                <!-- Bacground color -->
                                <div class="card-up indigo lighten-1">
                                </div>
                            
                                <!-- Avatar -->
                                <div class="avatar mx-auto white">
                                    <img src="./img/PG.jpg" width="150" height="150" class="rounded-circle mt-5">
                                </div>
                            
                                <div class="card-body">
                                    <!-- Name -->
                                    <h4 class="card-title"> Paul Gulyas, Instructor</h4>
                                    <hr>
                                    <!-- Quotation -->
                                    <p><i class="fa fa-quote-left"></i> Paul has a BSc in Physics from McMaster. 
                                        He was awarded the sandan rank at Summer Special Training in 2009. 
                                        Paul started Twente Shotokan Karate Dojo in the Netherlands in 1984 and has also taught at a number of Upper Canada Shotokan Dojos in Kanata, 
                                        Dovercourt and at Algonquin College.
                                    </p>
                                </div>
                            
                        </div> 
                </div>
                <div class="col-lg-3 col-md-6">
                        <div class="card testimonial-card">

                                <!-- Bacground color -->
                                <div class="card-up indigo lighten-1">
                                </div>
                            
                                <!-- Avatar -->
                                <div class="avatar mx-auto white">
                                    <img src="./img/khanh.jpg" width="150" height="150" class="rounded-circle mt-5">
                                </div>
                            
                                <div class="card-body">
                                    <!-- Name -->
                                    <h4 class="card-title"> Hashmat Khan, Instructor</h4>
                                    <hr>
                                    <!-- Quotation -->
                                    <p><i class="fa fa-quote-left"></i> Hashmat started his karate practice in July 1999 under Roland Duval (godan). 
                                        In 2002, he moved to the UK and founded the first SKA London dojo.  
                                        In 2006, Hashmat received the Canada Shotokan Member of the Year recognition. 
                                        Hashmat is an economics professor at Carleton University.</p>
                                </div>
                            
                        </div> 
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid under p-4">
    <div class="row text-center align-items-center p-3">
        <div class="col-10 mx-auto">
            <i class="fab fa-telegram-plane display-4"></i>
            <h2 class="p-4"><b>Be brave to join as a freshman</b></h2>
            <p class="pb-1"><b>Do not worry if you don't have any experience, we have a suitable program for all beginners.</b></p>
            <a href="/karateUottawa/beginner">
            <button type="button" class="btn btn-white py-2 my-3" style="border-radius:0;"><i class="fas fa-angle-right pr-3" style="color:grey;"></i>HAVE A LOOK</button>
            </a>            
        </div>
    </div>
</div>
{% endblock %}